<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Productivity Coach</title>
    <link rel="stylesheet" href="static\css\style.css">
    <style>
        html{
            scroll-behavior: smooth;
        }

        
    </style>
</head>
<body>
    <!-- navigation bar -->
    <header>
        <nav>
            <div class="logo">Ai Productivity Coach</div>
            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- hero section -->
    <section class="hero fade-in">
        <h1>Work Smarter and Stress Less</h1>
        <p>Your personal Ai coach to plan your daily tasks, plans and stay Focused</p>
        <a href="dashboard.html" class="btn">Get Started</a>
    </section>
     <!-- Features section -->
    <section id="features" class="features fade-in">
        <h2>Features</h2>
        <div class="features-list">
            <div class="feature">Smart Task Scheduling</div>
            <div class="feature">Focus Timer (Pomodro)</div>
            <div class="feature">Progress Tracking Dashboard</div>
            <div class="feature">Motivational Insights</div>
        </div>
    </section>
      <!-- how it works -->
    <section id="how-it-works" class="how fade-in">
        <h2>How It Works</h2>
        <div class="steps">
            <div class="step">Add your tasks</div>
            <div class="step">Get an Ai-powered schedule</div>
            <div class="step">Stay focused with reminders and progress tracking</div>

        </div>
    </section>

       <!-- footers -->
    <footer id="contact">
            <p>with at Hackathone 2025</p>
            <p>Contact: pythndevs@gmail.com</p>
    </footer>

</body>
</html>